{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    {{ block.super }}
    <div class="content_section">

        <div class="img_wrap">
            <img src="{% static "main01.jpg" %}" border="0" alt=""></img>
            <h2>
        <span>
        Художественная гимнастика:
        <span class='spacer'></span><br/><span class='spacer'></span>
        Спортивный клуб "БАГИРА"
        </span>
            </h2>
        </div>
        <div style="padding: 10px; font-family: 'PT Sans Caption'; font-size: 24pt; letter-spacing: 0px; text-align: center">
            Занятия художественной гимнастикой в Сергиевом Посаде
        </div>
        <div style="display: inline-block; width: 45%; padding: 10px;">
            <h4>Наши достижения</h4>
            <img src="{% static "Achievements.jpg" %}" border="0" alt="" style="width: 100%"></img>
            Гимнастки 2006 года выпуска заняли 1 место в групповых выступлениях на призы ОАО "Вертолеты России" в г.
            Люберцы
            в октябре 2016.
        </div>
        <div style="display: inline-block; width: 45%; padding: 10px;">
            <h4>Новости</h4>
            <img src="{% static "news.jpg" %}" border="0" alt="" style="width: 87%"></img>
            Спортивный клуб "БАГИРА" приглашен на международный турнир Кубка Стэнли в Бостон, Массачусетс, США. Девушки
            выступят
            в личном и командном зачете в жанре "БП"
        </div>
    </div>
{% endblock content %}
