{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock stylesheets %}

{% block content %}
    {{ block.super }}
    <div class="content_section">
        <div class="img_wrap">
            <img src="{% static "nogu-zadrali.jpg" %}" border="0" alt=""></img>
            <h2>
        <span>
        Художественная гимнастика:
        <span class='spacer'></span><br /><span class='spacer'></span>
        Спортивный клуб "БАГИРА"
        </span>
        </h2>
        </div>
        <div style="padding: 10px">
            Вас приветствует клуб художественной гимнастики “БАГИРА”!<br>
            Контент будет!
        </div>
    </div>
{% endblock content %}


