html, body {
    font-family: Avenir, Helvetica;
    margin: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 1), rgba(247, 200, 255, 1));
    background-attachment: fixed;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

input[type="checkbox"] {
    display: none;
}

body {
    height: 100%;
}

/* CONTENT FOR MAIN */

.main_wrapper {
    margin-left: 10%;
    height: 100%;
    width: 90%;
    /*border: 1px solid black;*/
}

.content_section {
    min-width: 780px;
    max-width: 900px;
    margin: 20px auto;
    /*border: 1px solid black;*/
    background: white;
    padding: 0px 30px;
}


.img_wrap {
    position: relative;
    max-width: 100%;
    height: auto;
}

.img_wrap img {
    max-width: 100%;
}

.img_wrap h2 {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 100%;
}

.img_wrap h2 span {
    /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
    /*font-size: 30pt;*/
    font: bold 29pt/49.4pt "Trebuchet MS", Helvetica, Sans-Serif;
    color: white;
    text-shadow: 1px 1px 1px #000;
    /*letter-spacing: -1px;*/
    background: rgb(144, 131, 255); /* fallback color */
    background: rgba(144, 131, 255, 0.4);
    padding: 10px;
}

.img_wrap h2 span.spacer {
    padding:0 5px;
    background: none;
}

/* STYLES FOR SIDE MENU */

.menuOverlay {
    background: black;
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: opacity .3s ease-in;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}

.menuOverlay.dimmed {
    pointer-events: auto;
    opacity: .6;
}

.menu_section {
    position: fixed;
    width: 35%;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    background: #5864ed;
    overflow: hidden;
    -webkit-transform: translateX(-73%);
    -moz-transform: translateX(-73%);
    transform: translateX(-73%);
    transition: all 0.6s ease-in;
}

/* we need to calculate panes width measured in menu div LOCAL percentage, */
/* but based on menu total and not-hidden widths in SCREEN precentage */
/* calculations are: */
/* Big pane, local % = 1 - (not-hidden width, screen %) / (total menu width, screen %) */
/* Small pane, local % = (not-hidden width, screen %) / (total menu width, screen %) */

.menu_left_pane {
    width: 72%;
    height: 100%;
    float: left;
    margin: 0;
    /*border: 1px solid black;*/
}

.menu_right_pane {
    width: 28%;
    height: 100%;
    background: #264592;
    float: left;
    margin: 0;
    /*border: 1px solid black;*/
}

.menu_title {
    text-align: center;
    color: white;
    font-weight: bold;
    /*border: 1px solid black;*/
}

.menu_item {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    padding-left: 5%;
    /*border: 1px solid black;*/
}

.menu_section.extend {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.logo {
    position: relative;
    top: 0.5%;
    left: 4%;
    width: 95%;
    height: 0;
    padding-top: 95%;
    border-radius: 50%;
    transition: all 0.6s ease-in;
    /*border: 1px solid black;*/
}

.logoButton {
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    z-index: 1;
    cursor: pointer;
    background: transparent;
    width: 100%;
    height: 100%;
    /*border-radius: 50%;*/
    /*border: 1px solid red;*/
}

.djhuj {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cross_above {
    position: absolute;
    color: white;
    display: none;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 400%;
    font-weight: 700;
    transform: translateY(-50%) rotateZ(45deg);
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

input[type="checkbox"]:checked ~ .logo {
    -webkit-transform: rotateZ(-360deg) scale3d(.7, .7, 1);;
    -moz-transform: rotateZ(-360deg) scale3d(.7, .7, 1);;
    transform: rotateZ(-360deg) scale3d(.7, .7, 1);;
}