.content_section {
    position: relative;
    top: 0;
    left: 5.5%;
    height: 100%;
    background: #9083ff;
}

.img_wrap {
    position: relative;
    width: 100%;
}

.img_wrap h2 {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 100%;
}

.img_wrap h2 span {
    /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
    /*font-size: 30pt;*/
    font: bold 29pt/49.4pt "Trebuchet MS", Helvetica, Sans-Serif;
    color: white;
    text-shadow: 1px 1px 1px #000;
    /*letter-spacing: -1px;*/
    background: rgb(144, 131, 255); /* fallback color */
    background: rgba(144, 131, 255, 0.2);
    padding: 10px;
}

.img_wrap h2 span.spacer {
    padding:0 5px;
    background: none;
}
