{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    {{ block.super }}
    <div class="content_section" style="padding-bottom: 40px">
        <div class="page_caption">
            Наши достижения
        </div>
        {# row container 1 #}
        <div style="width: 100%; position: relative;">
            <div style="display: inline-block; width: 30%; vertical-align: top">
                <img src="{% static "ereschenko03.jpg" %}" border="0" alt=""
                     style="width: 100%;"></img>
            </div>
            <div style="display: inline-block; height: 100%; vertical-align: top; color: #264592; font: 20px Ubuntu;">
                <div class="vertical_center">
                    <div><b>2016. Кандидат в мастера спорта</b> Ерещенко А.</div>
                    <div style="margin: 5%">
                        Сборная Московской области по
                        групповым упражнениям.
                        Участница Всероссийских соревнований «Надежды России» по
                        художественной гимнастике
                    </div>
                </div>
            </div>
        </div>
        {# row container 2 #}
        <div style="width: 100%; position: relative;">
            <div style="display: inline-block; height: 0; width: 65%; vertical-align: top; color: #264592; font: 20px Ubuntu;">
                <div class="vertical_center">
                    <div><b>2014. Мастер спорта</b> Гусева А.</div>
                    <div style="margin: 5%">
                    Участница российских межрегиональных соревнований
                    </div>
                </div>
            </div>
            <div style="display: inline-block; width: 30%; vertical-align: top; ">
                <img src="{% static "ereschenko03.jpg" %}" border="0" alt=""
                     style="width: 100%;"></img>
            </div>
        </div>
        {# row container 3 #}
        <div style="width: 100%; position: relative;">
            <div style="display: inline-block; width: 30%; vertical-align: top">
                <img src="{% static "ereschenko03.jpg" %}" border="0" alt=""
                     style="width: 100%;"></img>
            </div>
            <div style="display: inline-block; height: 100%; vertical-align: top; color: #264592; font: 20px Ubuntu;">
                <div class="vertical_center">
                    <div><b>2016. I взрослый разряд</b> Кононова Е.</div>
                    <div style="margin: 5%">
                        Участница российских межрегиональных соревнований
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
